.bug {
  background-color: #8a970f;
}
.dark {
  background-color: #533e2f;
}
.dragon {
  background-color: #765fe0;
}
.electric {
  background-color: #f8b714;
}
.fairy {
  background-color: #efaff1;
}
.fighting {
  background-color: #80341b;
}
.fire {
  background-color: #ee3f0e;
}
.flying {
  background-color: #5c73d3;
}
.ghost {
  background-color: #464695;
}
.grass {
  background-color: #6ebf2f;
}
.ground {
  background-color: #d3b357;
}
.ice {
  background-color: #6ed3f6;
}
.normal {
  background-color: #c8c1b8;
}
.poison {
  background-color: #924895;
}
.psychic {
  background-color: #ed4781;
}
.rock {
  background-color: #b8a258;
}
.water {
  background-color: #0c67c4;
}
.steel {
  background-color: #908e9e;
}

.page-center {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.pokemon-card {
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  border-radius: 1rem;
  border: 1px solid #ccc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 180vh;
  height: 105vh;
  margin: 0 auto; 
  position: relative;
}

.name-number h1 {
  font-size: 24px;
  text-transform: capitalize;
}

.stats-container, .images-container {
  position: absolute
}

.stats-container {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 110px;
  left: 5px;
}

.images-container {
  top: 10px;
  right: 90px;
  display: flex;
  flex-direction: column;
}

.images-container img {
  width: 300px;
  height: 300px;
  margin-top: 20px;
}

.types-container {
  position: absolute;
  top: 80px;
}

.types li {
  display: flex;
  margin: 5px;
}

 .type {
  border: 1px solid rgba(58, 52, 52, 0.25);
  border-radius: 1rem;
  filter: brightness(1.1);
  text-align: center;
  text-transform: capitalize;
  padding: 7px;
  margin: 7px;
  font-weight: 600;
  list-style: none;
  font-size: .7rem;
}

.moves-title {
  position: absolute;
  top: 360px
}
.moves-container {
  position: absolute;
  top: 390px;
  bottom: 1px;
  height: fit-content;
  max-height: 280px;
  overflow-y: auto;
  padding: 10px;
  width: 90%;
  box-shadow: 0 0 .5px .5px rgba(50, 50, 50, 0.25);
}

.moves ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.moves ul li {
  text-transform: capitalize;
  margin: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
  background-color: #f0f0f0
}


.found-poke-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.abilities-container {
  top: 140px;
  position: absolute;
  text-align: center;
  margin-top: 20px;
}

.abilities {
  text-transform: capitalize;
  border-radius: 1rem;
  padding: 10px;
}

h1 {
  font-size: 16px;
}

.ability-list {
  list-style: none;
  padding: 0;
}

.ability, .hidden-ability {
  margin: 5px;
  font-weight: bold;
}

.hidden-ability {
font-style: italic;
font-size: 13px;
}

.detail-container {
  top: 280px;
  position: absolute;
}


