.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .navbar a:hover {
    color: #f8b714
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .home-button {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
  
  .navbar ul li {
    font-size: 1rem;
    text-transform: uppercase;
    position: relative;
  }
  
  .navbar ul li a.active {
    color: #f8b714;
    border-bottom: 2px solid #f8b714;
  }
  
  .navbar ul li a:hover {
    color: #f8b714
  }

