.bug {
    background-color: #8a970f;
  }
  .dark {
    background-color: #533e2f;
  }
  .dragon {
    background-color: #765fe0;
  }
  .electric {
    background-color: #f8b714;
  }
  .fairy {
    background-color: #efaff1;
  }
  .fighting {
    background-color: #80341b;
  }
  .fire {
    background-color: #ee3f0e;
  }
  .flying {
    background-color: #5c73d3;
  }
  .ghost {
    background-color: #464695;
  }
  .grass {
    background-color: #6ebf2f;
  }
  .ground {
    background-color: #d3b357;
  }
  .ice {
    background-color: #6ed3f6;
  }
  .normal {
    background-color: #c8c1b8;
  }
  .poison {
    background-color: #924895;
  }
  .psychic {
    background-color: #ed4781;
  }
  .rock {
    background-color: #b8a258;
  }
  .water {
    background-color: #0c67c4;
  }
  .steel {
    background-color: #908e9e;
  }
  
  .base-stat-list {
    font-size: small;
    font-weight: 500;
    padding-top: 0.5rem;
  }

.base-stats {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: small;
}

  .pokemon-container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    position: relative;
    gap: 20px;
    list-style: none;
    padding: 40px 0 0 0;
    max-width: 1200px;
    width: 100%;
    margin: 40px auto;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    border-radius: 1rem;
  }
  
  .inner-card {
    width: 200px;
    height: 200px;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    border-radius: 1rem;
    perspective: 40rem;
  }
  
  .card-front,
  .card-back {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .inner-card:hover ,
  .inner-card:focus  {
    transform: rotateY(180deg);
  }
  
  .card-back {
    transform: rotateY(-180deg);
  }
  
  .pokemon {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    color: #fff;
    border-radius: 1rem;
    text-align: center;
    text-transform: capitalize;
  }
  
  .card-back img {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
  }

  .pokemon .detail img {
    max-width: 100%;
    height: 120px;
    align-self: self-end;
  }
  
  .pokemon .number {
    color: #000;
    opacity: 0.3;
    text-align: right;
  }
  
  .pokemon .types {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .pokemon .detail .types .type {
    color: #fff;
    padding: 0.5rem 0.25rem;
    margin: 0.25rem 0;
    font-size: 0.625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    text-transform: capitalize;
  }
  
  .pokemon-details {
    padding: 0.5rem;
  }

  @media screen and (min-width: 393px) {
    .inner-card {
      width: 180px;
      height: 192px;
    }
    .pokemon-container {
      margin-top: 60px;
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (min-width: 576px) {
    .pokemon-container {
      margin-top: 60px;
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (min-width: 992px) {
    .pokemon-container {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  