.stat-bar {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  width: auto;
}

.bar {
  border-radius: 1rem;
  min-height: 10px; 
}

.red-bar {
  width: 20px;
  background-color: #F34444;
  color: white;
  border: 1px solid rgb(104, 96, 96);
}

.orange-bar {
  width: 60px;
  background-color: #FF7F0F;
  color: white;
  border: 1px solid rgb(104, 96, 96);
}

.yellow-bar {
  width: 90px;
  background-color: #FFDD57;
  color: black;
  border: 1px solid rgb(104, 96, 96);
}

.green-bar {
  width: 120px;
  background-color: #A0E515;
  color: white;
  border: 1px solid rgb(104, 96, 96);
}

.blue-bar {
  width: 170px;
  background-color: #00C2B8;
  color: white;
  border: 1px solid rgb(104, 96, 96);

}

.stat-value {
  margin-right: 2px;
  padding-right: 35px;
  text-align: right;
  width: 30px;
}

.stat-name {
  margin-right: 2px;
  padding-right: 2px;
  text-align: right;
  width: 150px;

}
