.stat-bar {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  width: auto;
}

.bar {
  border-radius: 1rem;
  min-height: 10px; 
}

.bar-20 {
  width: 20px;
  background-color: #D42B11;
  border: 1px solid rgb(104, 96, 96);
}

.bar-40 {
  width: 40px;
  background-color: #D45C11;
  border: 1px solid rgb(104, 96, 96);
}

.bar-60 {
  width: 60px;
  background-color: #D4B411;
  border: 1px solid rgb(104, 96, 96);
}

.bar-80 {
  width: 80px;
  background-color: #D4D111;
  border: 1px solid rgb(104, 96, 96);
}

.bar-100 {
  width: 100px;
  background-color: #A0E515;
  border: 1px solid rgb(104, 96, 96);
}

.bar-125 {
  width: 130px;
  background-color: #00C2B8;
  border: 1px solid rgb(104, 96, 96);
}

.bar-max {
  width: 170px;
  background-color: #00f1e5;
  border: 1px solid rgb(104, 96, 96);
}

.stat-value {
  font-style: italic;
  margin-right: 2px;
  padding-right: 35px;
  text-align: right;
  width: 30px;
}

.stat-name {
  margin-right: 2px;
  padding-right: 2px;
  text-align: right;
  width: 150px;

}
